#video-background { 
      position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -100;
        width:100%;
}

.jumbotron{
  position: relative;
  z-index:-101;
  overflow: hidden;
}

#white-text {
    color: aliceblue
}

h1 {
    color: #33adad;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h2 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
}

h3 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 150%
}

p {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
}