h1 {
    color: #33adad;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h2 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
}

h3 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 150%
}


#maintitle {
    color: #862633;
}

#title2 {
    margin-right: auto;
    margin-left: auto;
    color: #862633;
}

#subtitle {
    color: dimgray;
}

#section {
    color: #862633;
}

#section2 {
    color: #862633;
}

.column {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 80%;
}

.blog-post h2 {
   color: #800000
}

.jumbotron a {
    color: #862633
}

li{
    margin: 10px 0;
}

a:link {
  color: dimgray; 
  background-color: transparent; 
  text-decoration: none;
}

a:visited {
  color: dimgray;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #862633;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: dimgray;
  background-color: transparent;
  text-decoration: underline;